html{
    background: white;
    height: 100%;
}

#cardHome{
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Efeito ao passar o mouse no card */
#cardHome:hover{
    transform: scale(1.05); /* Aumenta o tamanho do card */
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3); /* Adiciona sombra suave */
}